profiles {
    
    test {
        includeConfig "configs/test.config"
    }

    ebi_slurm {

        includeConfig 'configs/codon.config'

        executor {
            name = "slurm"
            queueSize = 100
            queueGlobalStatus = true
            submitRateLimit = "10 sec"
            pollInterval = "10 sec"
        }
    }
}

singularity {
    enabled = true
}