workDir = '/hps/nobackup/rdf/metagenomics/service-team/users/louison/nextflow/tmpwork2/'

params {
    catDB = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/cat/CAT_prepare_20210107/2021-01-07_CAT_database/"
    diamondDB = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/cat/CAT_prepare_20210107/Diamond_2.0.6/diamond"
    taxonomyDB = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/cat/CAT_prepare_20210107/2021-01-07_taxonomy/"
    tiaraVersion = "1.0.3"
    tiaraModel = ""

    dmcVersion = "1.0.3"
    dmcModelPath = "/hps/nobackup/rdf/metagenomics/service-team/users/louison/nextflow/project/bin/modelDMC-22031b0.ckpt"
}

process {
    
    // When updating the container, please be careful and update also the above related version parameters
    withName: 'PREDICT_TIARA' {
        container = '/hps/nobackup/rdf/metagenomics/service-team/users/louison/nextflow/project/bin/tiara1.0.3.sif'
    }
    withName: 'PREDICT_DEEPMICROCLASS' {
        container = '/hps/nobackup/rdf/metagenomics/service-team/users/louison/nextflow/project/bin/deepmicroclass1.0.3.sif'
    }
    withName: 'GET_CONTIGS_INFO' {
        container = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/quay.io-biocontainers-seqkit-2.7.0--h9ee0642_0.img"
    }
    withName: 'SAVE_CONTIGS_PER_KINGDOM' {
        container = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/quay.io-biocontainers-seqkit-2.7.0--h9ee0642_0.img"
    }

    withLabel: 'light' {
        cpus = 1
        memory = { 2.GB * task.attempt }
        time   = { 2.h  * task.attempt }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'finish' }
        maxRetries = 4
    }
    withLabel: 'medium' {
        cpus = 2
        memory = { 8.GB * task.attempt }
        time   = { 4.h  * task.attempt }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'finish' }
        maxRetries = 4
    }
    withLabel: 'heavy' {
        cpus = 8
        memory = { 16.GB + (8.GB * (task.attempt-1)) }
        time   = { 12.h  * task.attempt }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'finish' }
        maxRetries = 4
    }
    withLabel: 'superheavy' {
        cpus = 12
        memory = { 48.GB + (8.GB * (task.attempt-1)) }
        time   = { 12.h  * task.attempt }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'finish' }
        maxRetries = 4
    }

}

singularity {
    cacheDir =  "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
}
